*{
    box-sizing: border-box; 
    margin: 0px; 
    padding: 0px;
}


#container{
    min-height: 1000px;
    height: auto;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}



table{
	margin: 30px auto;
}

button{
	border: none;
	background: skyblue;
	color: white;
	padding: 5px;
	margin-right: 5px;
}

.btns{
	padding: 20px;
	display: flex;
	justify-content: flex-end;
}

.tit-cart{
    margin: 40px 0px 0px;  
    padding: 30px 0px; 
    text-align: center; 
    font-size: 30px; 
    line-height: 1.25; 
    color: rgb(31, 31, 31); 
    font-family:'Jua'; 
    font-size:3.0em; 
    
}

.form-tbl-new{
    box-sizing: border-box; 
    margin: 0px auto; 
    padding: 0px; 
    border-bottom: 1px solid rgb(208, 208, 208); 
    display: inline-block; 
    width: 900px; 
    color: rgb(34, 34, 34); 
    font-family: Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕, Dotum, 돋움, Helvetica Neue, Helvetica, Arial, sans-serif; 
    font-size: 14px; 
    letter-spacing: -0.3px; 
}

.form_h4{
    box-sizing: border-box; 
    margin: 0px; 
    padding: 10px; 
    font-family: inherit; 
    line-height: 0.7; 
    color: inherit; 
    font-size: 22px; 
    text-indent: 15px; 
    border-bottom: 1px solid rgb(212, 212, 212); 
    height: 51px; 
    letter-spacing: -1.2px; 
    clear: both;
}

.clearfix{
    box-sizing: border-box; 
    margin: 0px; 
    padding: 0px;
}

th{
    margin: 0px; 
    padding: 7px 0px 6px; 
    background-color:rgba(0, 0, 0, 0.05);
    font-weight: normal; 
    font-size: 18px;
}

.tb-center{
    padding: 0px 10px;
}

.tbody_tr{
    border-top: 1px solid rgb(208, 208, 208);
    border-bottom: 1px solid rgb(208, 208, 208);
}

.tbody_tr > td{
    margin: 0px auto; 
    padding: 18px 10px; 
    font-size: 18px; 
    background-image: none;
}

.td-01{
	display: flex;
	align-items: center;
	height: 100%;
}

.check{
	margin-left: 20px;
	width: 20px;
	height: 20px;
}

/* ======================== */

.flag{
	display: none;
}
.flag_on{
	text-align: center;
	margin: 20px 0px;
	color: red;
	font-size: 25px;
}

































