*{
    box-sizing: border-box; 
    margin: 0px; 
    padding: 0px;
}


#container{
    min-width: 1800px;
    min-height: 1500px;
    width: 1800px;
    height: 1700px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}



table{
	margin: 30px auto;
}

button{
	border: none;
	background: skyblue;
	color: white;
	padding: 5px;
	margin-right: 5px;
}

.btns{
	padding: 20px;
	display: flex;
	justify-content: flex-end;
}
.main-div{
	margin: 0px auto;
    display: flex;
    flex-direction: column;
}


.flag{
	display: none;
}
.flag_on{
	text-align: center;
	margin: 20px 0px;
	color: red;
	font-size: 25px;
}

.tit-cart{
    margin: 40px 0px 0px;  
    padding: 30px 0px; 
    font-size: 30px; 
    line-height: 1.25; 
    color: rgb(31, 31, 31); 
    font-family:'Jua'; 
    font-size:3.0em; 
    
}

.form-tbl-new{
    box-sizing: border-box; 
    margin: 0px 0px 20px; 
    padding: 0px; 
    border-bottom: 1px solid rgb(208, 208, 208); 
    display: inline-block; 
    width: 900px; 
    color: rgb(34, 34, 34); 
    font-family: Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕, Dotum, 돋움, Helvetica Neue, Helvetica, Arial, sans-serif; 
    font-size: 14px; 
    letter-spacing: -0.3px; 
}

.form_h4{
    box-sizing: border-box; 
    margin: 0px; 
    padding: 10px; 
    font-family: inherit; 
    line-height: 0.7; 
    color: inherit; 
    font-size: 22px; 
    text-indent: 15px; 
    border-bottom: 1px solid rgb(212, 212, 212); 
    height: 51px; 
    letter-spacing: -1.2px; 
    clear: both;
}

.clearfix{
    box-sizing: border-box; 
    margin: 0px; 
    padding: 0px;
}

th{
    margin: 0px; 
    padding: 7px 0px 6px; 
    background-color:rgba(0, 0, 0, 0.05);
    font-weight: normal; 
    font-size: 18px;
}

.tb-center{
    padding: 0px 10px;
}

.tbody_tr{
    border-bottom: 1px solid rgb(208, 208, 208);
}

.tbody_tr > td{
    margin: 0px; 
    padding: 18px 10px; 
    font-size: 18px; 
    background-image: none;
}

/* ======================== */

.form-tbl-new{
    box-sizing: border-box; 
    margin: 0px 0px 20px; 
    padding: 0px; 
    border-bottom: 1px solid rgb(208, 208, 208); 
    background: rgb(255, 255, 255); 
    display: inline-block; 
    width: 900px;
}

.form_h{
    box-sizing: border-box; 
    margin: 0px; 
    padding: 0px; 
    font-family: inherit; 
    line-height: 2; 
    color: inherit; 
    font-size: 22px; 
    text-indent: 15px; 
    border-bottom: 1px solid rgb(212, 212, 212); 
    height: 51px; 
    letter-spacing: -1.2px; 
    clear: both;
}

.__se_tbl_ext{
    margin: 0px; 
    padding: 0px; 
    border-collapse: collapse; 
    border-spacing: 0px; 
    background-color: transparent; 
    width: 900px; 
    max-width: 100%; 
    border-top: none;
}

.fw-nor{
    box-sizing: border-box; 
    background-color : #fafafa;
    margin: 0px; 
    padding: 8px 10px 8px 15px; 
    text-align: left; 
    vertical-align: middle; 
    border-top: 1px solid rgb(221, 221, 221); 
    height: 52px; 
    font-size: 15px;
}

.bdtop{
    box-sizing: border-box; 
    background-color : #fafafa;
    margin: 0px; 
    padding: 8px 10px; 
    vertical-align: middle; 
    border-top: none; 
    border-bottom: 1px solid rgb(240, 241, 245); 
    height: 52px; 
    font-size: 15px;
}

.w-half{
    box-sizing: border-box; 
    margin: 0px; 
    padding: 0px 8px; 
    font-style: inherit; 
    font-variant: inherit; 
    font-weight: normal; 
    font-stretch: inherit; 
    line-height: 26px; 
    font-family: inherit; 
    display: block; 
    width: 365px; 
    height: 42px; 
    background: none rgb(255, 255, 255); 
    appearance: none; 
    border-radius: 0px; 
    font-size: 15px; 
    color: rgb(34, 34, 34); 
    border-width: 1px; 
    border-style: solid; 
    border-color: rgb(240, 241, 245);
}

.addr{
    box-sizing: border-box; 
    background-color : #fafafa;
    margin: 0px; 
    padding: 8px 10px; 
    vertical-align: middle; 
    border-top: 1px solid rgb(221, 221, 221); 
    border-bottom: 1px solid rgb(240, 241, 245); 
    height: 52px; 
    font-size: 15px;
}

.form-inline{
    font-size: 0px;
}

.addr-group{
    box-sizing: border-box; 
    margin: 0px 0px 8px; 
    padding: 0px; 
    display: inline-block; 
    vertical-align: middle;
}

.zipinp-searchAddr{
    box-sizing: border-box; 
    margin: 0px; 
    padding: 0px 8px; 
    font-style: inherit; 
    font-variant: inherit; 
    font-weight: normal; 
    font-stretch: inherit; 
    line-height: 26px; 
    font-family: inherit; 
    width: 215px; 
    height: 42px; 
    appearance: none; 
    border-radius: 0px; 
    opacity: 1; 
    vertical-align: middle; 
    cursor: pointer; 
    font-size: 15px;
    color: rgb(34, 34, 34); 
    border-width: 1px; 
    border-style: solid; 
    border-color: rgb(240, 241, 245);
}

.btn-adress{
    box-sizing: border-box; 
    margin: 0px; 
    padding: 0px 9px; 
    font-size: 15px; 
    background-color : rgb(136, 136, 136); 
    border-top: 1px solid rgb(136, 136, 136); 
    border-right: 1px solid rgb(136, 136, 136); 
    border-bottom: 1px solid rgb(136, 136, 136); 
    border-left: none; 
    height: 42px; 
    line-height: 30px; 
    display: inline-block; 
    width: 150px; 
    border-image: initial; 
    vertical-align: middle; 
    cursor: pointer; 
    color: rgb(255, 255, 255);
}

.w-half2{
    box-sizing: border-box; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-left: 0px; 
    padding: 0px 8px; 
    font-style: inherit; 
    font-variant: inherit; 
    font-weight: normal; 
    font-stretch: inherit; 
    line-height: 26px; 
    font-family: inherit; 
    display: block; 
    width: 365px; 
    height: 42px; 
    background-image: initial; 
    background-position: initial; 
    background-size: initial; 
    background-repeat: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    appearance: none; 
    border-radius: 0px; 
    opacity: 1; 
    cursor: pointer; 
    margin-bottom: 10px; 
    font-size: 15px; 
    color: rgb(34, 34, 34); 
    border-width: 1px; 
    border-style: solid; 
    border-color: rgb(240, 241, 245);
}

.w-half3{
    box-sizing: border-box; 
    margin: 0px; 
    padding: 0px 8px; 
    font-style: inherit; 
    font-variant: inherit; 
    font-weight: normal; 
    font-stretch: inherit; 
    line-height: 26px; 
    font-family: inherit; 
    display: block; 
    width: 365px; 
    height: 42px; 
    background: none rgb(255, 255, 255); 
    appearance: none;
    border-radius: 0px; 
    font-size: 15px; 
    color: rgb(34, 34, 34); 
    border-width: 1px; 
    border-style: solid; 
    border-color: rgb(240, 241, 245);
}

.deliv{
    box-sizing: border-box; 
    background-color : #fafafa;
    margin: 0px; 
    padding: 8px 10px; 
    vertical-align: middle; 
    border-top: 1px solid rgb(221, 221, 221); 
    border-bottom: none; 
    height: 52px; 
    font-size: 15px;
}

.w-pull{
    box-sizing: border-box; 
    margin: 0px; 
    padding: 8px; 
    font-family: inherit;
    font-style: inherit; 
    font-variant: inherit; 
    font-weight: inherit; 
    font-stretch: inherit; 
    font-size: 15px; 
    line-height: inherit; 
    color: rgb(34, 34, 34); 
    overflow: auto; 
    border-color: rgb(240, 241, 245); 
    width: 730px; 
    height: 42px; 
    appearance: none; 
    border-radius: 0px; 
    resize: none; 
    vertical-align: middle;
}

.all-price{
    font-size: 30px; 
    width:900px; 
    text-align:center; 
    color: red; 
    padding: 20px;
    
}

/* ======================== */

.form-tbl-new{
    box-sizing: border-box; 
    margin: 0px 0px 20px; 
    padding: 0px; 
    border-bottom: 1px solid rgb(208, 208, 208); 
    background: rgb(255, 255, 255); 
    display: inline-block; 
    width: 900px;
}

.tb1-h4{
    font-family: inherit; 
    line-height: 2.6; 
    color: inherit; 
    font-size: 20px; 
    text-indent: 15px; 
    border-bottom: 1px solid rgb(212, 212, 212); 
    border-top: 1px solid rgb(212, 212, 212); 
    height: 51px; 
    letter-spacing: -1.2px; 
    clear: both;
}

.stit-area{
    box-sizing: border-box; 
    margin: 0px; 
    padding: 5px 0px 0px; 
    border-top: 1px solid rgb(240, 241, 245); 
    font-size: 15px; 
    line-height: 52px; 
    letter-spacing: -0.5px;
}

.help-block{
    box-sizing: border-box; 
    margin: 5px 0px 0px; 
    padding: 5px 0px 5px; 
    color: rgb(136, 136, 136); 
    font-size: 13px; 
    line-height: 21px;
}

.help_p{
    box-sizing: border-box; 
    padding-right: 25px; 
    padding-left: 20px;
}

.submit-btn{
    color: rgb(34, 34, 34); 
    font-family: Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕, Dotum, 돋움, Helvetica Neue, Helvetica, Arial, sans-serif; 
    font-size: 14px; 
    font-style: normal; 
    font-variant-ligatures: normal; 
    font-variant-caps: normal; 
    font-weight: 400; 
    letter-spacing: -0.3px; 
    orphans: 2; 
    text-align: start; 
    text-indent: 0px; 
    text-transform: none; 
    white-space: normal; 
    widows: 2; 
    word-spacing: 0px; 
    -webkit-text-stroke-width: 0px; 
    background-color: rgb(242, 244, 247); 
    text-decoration-thickness: initial; 
    text-decoration-style: initial; 
    text-decoration-color: initial; 
    display: inline; 
    float: none; 
    letter-spacing: -0.3px; 
    text-align: center; 
    box-sizing: border-box; 
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    padding: 12px 0px; 
    font-size: 18px; 
    background: rgb(216, 12, 24);
   
    font-weight: bold; 
    border: 1px solid rgb(216, 12, 24);
    width: 200px; 
    cursor: pointer; 
    color: rgb(255, 255, 255);
}

.moneys{
    display: flex;
    justify-content: center;
    align-items: center;
}

.moneys > button{
    width: 200px;
    height: 50px;
    font-size: 16px;
    background-color:rgb(136, 136, 136); 
    margin: 5px 60px;

}

.btn-div{
	width: 100%;
	margin: 10px auto;
	display: flex;
	justify-content: center;
}















































